.App {
    text-align: center;
}

.Num-label {
    display: block;
    padding: 1vh;
}

.Input-container {
    padding: 5vh;
}

.App-header {
    background-color: #a87e08;
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

input {
    border: none;
    border-bottom: 2px solid #a87e08;
    box-sizing: border-box;
}
